.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modalContent {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 15px;
  max-width: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.modalContent input {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  border: 2px dashed #c7c3c3;
  margin: 10px;
}
.modalContent input:focus {
  border: 2px solid #c7c3c3;
  outline: none;
}
.modalContent input::placeholder{
  font-family: "vazirmatn",'Courier New', Courier, monospace;
}
.closeBtn {
  position: absolute;
  top: 10px;
  left: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}
.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  /* margin-left: 32px; */
  padding: 15px;
}
.addBtn {
  padding: 7px 15px;
  border-radius: 10px;
  background-color: #2597cc;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  border: none;
}
.cancelBtn {
  padding: 7px 15px;
  border-radius: 10px;
  background-color: #2597cc;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  border: none;
}
